<div class="main-div">
  <mat-card class="example-card">

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
      <div class="card-header" fxFlex="">
        List of Users
      </div>
      <div fxFlex="" fxLayoutAlign="end center">
        <button [matMenuTriggerFor]="menu" class="expand-more-btn" mat-raised-button>Export To
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="exporter.exportTable('csv')" mat-menu-item>CSV</button>
          <hr style="margin: 0">
          <a (click)="exportToXML()" [href]="fileUrl" download="users.xml" mat-menu-item>XML</a>
        </mat-menu>
      </div>
    </div>
    <mat-card-content>
      <div>
        <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
          <mat-label>Filter {{filter.name}}</mat-label>
          <select (change)="filterChange(filter,$event)" [(ngModel)]="filter.modelValue" id="select-filter-btn"
                  matNativeControl name="{{filter.columnProp}}">
            <option value="">-- Select {{filter.name}} --</option>
            <option *ngFor="let item of filter.options" [value]="item">{{item}}</option>
          </select>
        </mat-form-field>
        &nbsp;
        <button (click)="resetFilters()" color="warn" id="resetFilterBtn" mat-flat-button>Reset</button>
      </div>

      <div>
        <div fxLayout="column">
          <div fxFlex="">
            <button [matMenuTriggerFor]="mainMenuButton" class="add-remove-btn"
                    mat-raised-button>
              Add/Remove Columns
            </button>
            <mat-menu #mainMenuButton="matMenu">
              <span (click)="$event.stopPropagation()" *ngFor="let column of columnShowHideList;index as i">
                  <mat-slide-toggle (change)="toggleColumn(column)" [(ngModel)]="column.isActive" id="toggle-btn">
                  </mat-slide-toggle>
                {{column?.name}}
                <br>
              </span>
            </mat-menu>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-content>
      <div class="example-container mat-elevation-z8">
        <mat-table #exporter="matTableExporter" (scroll)="onTableScroll($event)" [dataSource]="dataSource" id="table"
                   matSort matTableExporter>

          <!-- Number Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header="" sortActionDescription="Sort by number">
              No.
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i = index;">
              <span class="mobile-label">No.:</span>
              {{i + 1}}
            </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header="" sortActionDescription="Sort by name">
              Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row"><span class="mobile-label">Name:</span>
              {{row?.name?.title + ' ' + row?.name?.first + ' ' + row?.name?.last }}</mat-cell>
          </ng-container>

          <!-- Gender Column -->
          <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef mat-sort-header="" sortActionDescription="Sort by gender">
              Gender
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="mobile-label">Gender:</span>
              {{row?.gender}} </mat-cell>
          </ng-container>

          <!-- Location Column -->
          <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef mat-sort-header="" sortActionDescription="Sort by location">
              Location
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="mobile-label">Location:</span>
              {{row?.location?.city}} </mat-cell>
          </ng-container>

          <!-- Nationality Column -->
          <ng-container matColumnDef="nat">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row"></mat-cell>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header="" sortActionDescription="Sort by email">
              Email
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="mobile-label">Email:</span>
              {{row?.email}}
              <span class="mobile-value">{{row?.email}} </span>
            </mat-cell>
          </ng-container>

          <!-- Current Age Column -->
          <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef mat-sort-header="" sortActionDescription="Sort by current age">
              Current Age
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="mobile-label">Current Age:</span>
              {{row?.dob?.age}} </mat-cell>
          </ng-container>

          <!-- Registration Seniority Column -->
          <ng-container matColumnDef="registered">
            <mat-header-cell *matHeaderCellDef mat-sort-header="" sortActionDescription="Sort by registered date">
              Registration Seniority
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="mobile-label">Registration Seniority:</span>
              {{row?.registered?.age}} </mat-cell>
          </ng-container>

          <!-- Phone Number Column -->
          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header="" sortActionDescription="Sort by phone">
              Phone
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="mobile-label">Phone:</span>
              {{row?.phone}} </mat-cell>
          </ng-container>

          <!-- Picture Column -->
          <ng-container matColumnDef="picture">
            <mat-header-cell *matHeaderCellDef>
              Picture
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="mobile-label">Picture:</span>
              <img [src]="row?.picture?.thumbnail" alt="pic" style="border-radius: 100%">
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <mat-card *ngIf="isLoading" class="mat-table-loader">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
