.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-card {
  width: 80%;
  height: 80%;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-table-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

@media only screen and (max-height: 500px) {
  .example-container {
    max-height: 250px;
    overflow: auto;
  }
}
@media only screen and (min-height: 500px) and (max-height: 800px) {
  .example-container {
    max-height: 400px;
    overflow: auto;
  }
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

th {
  vertical-align: middle;
  background-color: beige;
  font-size: medium;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: orange;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: beige;
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}
